# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

[lL]ocal
.[lL]ocal

.DS_Store

.venv

local.auto.pkrvars.json
vars.auto.pkrvars.json

local.parameters.json
image.parameters.json
builder.parameters.json

teststuff.py

__pycache__/

local.bicep