name: Build Images

concurrency: ${{ github.ref }}

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'images/**'
      - 'scripts/**'
      # - 'tools/**'
      # - '.github/**'

jobs:
  prepare:
    # runs-on: windows-latest
    runs-on: ubuntu-latest

    outputs:
      build: ${{ steps.images.outputs.build }}
      images: ${{ steps.images.outputs.images }}

    steps:
      - uses: actions/checkout@v2

      - name: Get Image Definitions
        id: images
        run: python "./tools/images.py"

  build:
    needs: prepare
    # runs-on: windows-latest
    runs-on: ubuntu-latest

    # this is needed to avoid workflow errors in case of an empty matrix
    if: ${{ needs.prepare.outputs.build == 'true' }}

    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prepare.outputs.images) }}

    steps:
      - uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build ${{ matrix.name }} with ${{ matrix.builder }}
        run: python "./tools/build.py" --suffix ${{ github.run_number }} --images ${{ matrix.name }} --build
